opencv-python==3.4.17.*
h5py==3.8.*
matplotlib==3.7.*
numpy==1.23.*
scipy==1.10.*
tqdm==4.11.2
scikit-learn==1.0.*
pillow==6.2.*
keras==2.12.*
tensorflow==2.12.*
tensorflow-datasets==4.9.*
tqdm==4.65.*
ipykernel==6.22.*